[Unit]
Description=Simple MQTT Service
After=network.target

[Service]
Type=simple
WorkingDirectory=%h/code/github/hass-mqtt/simple
#EnvironmentFile=%h/code/github/hass-mqtt/simple/simple-mqtt.env #use .env file loaded by pipenv instead
ExecStart=/usr/local/bin/pipenv run ./simple.py
Restart=on-abort

[Install]
WantedBy=default.target
